body {
  text-align: center;
  font-family: "helvetica", sans-serif;

}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.tool {
  color: white;
  font-size: 18px
}

.title {
  background-image: url(../images/the-flatiron-building.png);
}
